/* ----------------- Montserrat ----------------- */

@font-face {
  font-family: 'Montserrat';
  src: url('~@/../assets/fonts/Montserrat/Montserrat-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('~@/../assets/fonts/Montserrat/Montserrat-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('~@/../assets/fonts/Montserrat/Montserrat-Bold.ttf');
  font-weight: 700;
}

/* ----------------- Istok Web ----------------- */

@font-face {
  font-family: 'Istock web';
  src: url('~@/../assets/fonts/Istok_Web/IstokWeb-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Istock web';
  src: url('~@/../assets/fonts/Istok_Web/IstokWeb-Bold.ttf');
  font-weight: 700;
}