<ion-content class="register-page">
  <form #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
      </ion-row>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div class="register-form-container">
            <div>
                <h1 class="title-welcome">{{ 'register.text.welcome' | translate }}</h1>
            </div>
            <ion-item class="input-normal">
              <ion-input
                name="name"
                type="text"
                placeholder="Name"
                ngModel
                required
              ></ion-input>
            </ion-item>
            <ion-item class="input-normal">
              <ion-input
                name="email"
                type="email"
                placeholder="Your email address"
                ngModel
                required
              ></ion-input>
            </ion-item >
            <ion-item class="input-normal">
              <ion-input
                name="password"
                type="password"
                placeholder="Password"
                ngModel
                required
              ></ion-input>
            </ion-item>
            <div class="btn-policy-checkbox">
              <ion-toggle></ion-toggle>
              <ion-label>{{ 'register.text.privacy_policy' | translate }}</ion-label>
            </div>
          </div>
          <div class="ion-text-center">
            <ion-button
              size="large"
              type="submit"
              [disabled]="form.invalid"
              class="btn-small"
              >{{ 'register.buttons.signup' | translate }}
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="ion-text-center footer-welcome">
            <p>{{ 'register.text.have_account' | translate }} <a routerLink="/login">{{ 'register.buttons.login' | translate }}</a></p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
