.register-page {
  --background: linear-gradient(rgba(255, 67, 81,.8), rgba(255, 67, 81,.8)),
    url('../../../../assets/images/register-bg.jpg') 0 0/100% 100% no-repeat;
  .btn-policy-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #fff;
    margin-top: 20px;
    ion-label {
      margin-left: 20px;
    }
  }
  .register-form-container {
    max-width: 90%;
    margin: 0 auto;
  }

  ion-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
}