.home-page {
  .page-title {
    color: #280b0d;
    font-size: 24px;
    font-weight: 800;
    display: block;
    margin-bottom: 20px;
  }

  .title-section {
    display: block;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #362223;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .events-slider {
    font-family: 'Istock web';
    ion-card-header, ion-card-content {
      text-align: left;
    }

    ion-card-header {
      padding-bottom: 0;
    }

    .title-slider {
      color: #280b0d;
      font-size: 15px;
      font-weight: 700;
    }

    .event-image {
      width: 100% !important;
    }
    .place-slider {
      margin-top: 10px;
    }

    .date-slider {
      color: #ff4351;
      font-size: 13px;
      font-weight: 700;
    }
    .description-slider {
      color: #280b0d;
      font-size: 16px;
      font-weight: 400;
    }
    .footer-slider, p {
      display: flex;
      justify-content: space-between;
      font-family: 'Istock web';
      font-size: 13px;
      span {
        margin-left: 10px;
      }
    }
  }
}
