<ion-header>
  <ion-toolbar class="toolbar-header">
    <ion-buttons slot="start">
      <ion-button>
        <img src="assets/images/icon-top-menu-coins.svg" />
        <ion-text>0</ion-text>
      </ion-button>
      <ion-button>
        <img src="assets/images/icon-top-menu-event.svg" />
        <ion-text>0</ion-text>
      </ion-button>
      <ion-button>
        <img src="assets/images/icon-top-menu-crown.svg" />
        <ion-text>0</ion-text>
      </ion-button>
      <ion-button (click)="openFirst()">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-menu side="end" menuId="first" contentId="main" class="menu-header">
  <ion-content>
    <ion-item class="menu-title"><strong>{{ 'header.menu.main' | translate }}</strong></ion-item>
    <ion-list>
      <ion-item class="menu-subtitle"><strong>{{ 'header.menu.student_zone' | translate }}</strong></ion-item>
      <ion-item class="menu-header-subitem">{{ 'header.menu.timeline' | translate }}</ion-item>
      <ion-item class="menu-header-subitem">{{ 'header.menu.orders' | translate }}</ion-item>
      <ion-item class="menu-header-subitem">{{ 'header.menu.invitations_ambassador' | translate }}</ion-item>
      <ion-item><strong>{{ 'header.menu.faq_contact' | translate }}</strong></ion-item>
    </ion-list>
    <ion-item>{{ 'header.menu.settings' | translate }}</ion-item>
    <ion-item>{{ 'header.menu.logout' | translate }}</ion-item>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main">
  <ion-content>
    <div class="home-page page">
      <ion-text class="page-title">{{ 'home.text.title_next_events' | translate }}</ion-text>
      <div class="basic-warning">
        <strong>{{ 'home.text.warning_title' | translate }}</strong>
        <p>
          {{ 'home.text.warning_description' | translate }}
        </p>
        <ion-button>{{ 'home.buttons.more_info' | translate }}</ion-button>
      </div>
      <ion-text class="title-section">
        {{ 'home.text.title_next_events' | translate }}
      </ion-text>
      <ion-list lines="none">
        <ion-item class="event-list ion-no-padding ion-padding-bottom ion-no-border" *ngFor="let nextEvent of nextEvents">

          <img src="https://via.placeholder.com/72x72" slot="start" />
          <ion-label>
            <span class="event-date-tag">{{nextEvent.date}}</span>
            <span class="event-name-tag ion-text-wrap">{{nextEvent.name}}</span>
            <span class="event-place-tag">{{nextEvent.location}}</span>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-text class="title-section">
        {{ 'home.text.title_events_like' | translate }}
      </ion-text>
      <ion-slides class="events-slider">
        <ion-slide *ngFor="let event of events">
          <ion-card>
            <img src="https://via.placeholder.com/293x178" class="event-image" />
            <ion-card-header>
              <p class="date-slider">{{event.date}}</p>
              <p class="title-slider">{{event.name}}</p>    
            </ion-card-header>
            <ion-card-content>
              <p class="description-slider">
                {{event.description}}
              </p>
              <p class="place-slider">{{event.location}}</p>
              <hr />
              <div class="footer-slider">
                <p>
                  <img src="/assets/images/icon-attendees.svg" />
                  <span>{{event.nbAttendees}} attendees</span>
                </p>
                <p>
                  <img src="/assets/images/icon-attendees.svg" />
                  <span>{{event.prize}}</span>
                </p>
              </div>
              <p></p>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
  </ion-content>
</ion-router-outlet>