<ion-content class="welcome-page">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let slide of slides; index as i">
      <div class="welcome-step-info">
        <img src="{{slide.image}}" />
        <div class="welcome-step-content">
          <strong>{{ 'welcome.slides.slide'+ (i+1) +'.title' | translate }}</strong>
          <p>{{ 'welcome.slides.slide'+ (i+1) +'.description' | translate }}</p>
          <ion-button routerLink='/login' class="btn-login primary">
            {{ 'welcome.buttons.login' | translate }}
          </ion-button>
          <a routerLink='/register' class="btn-link primary">
            {{ 'welcome.buttons.create_account' | translate }}
          </a>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
