.welcome-page {
  .welcome-step-info {
    text-align: center;
    p {
      color:#280b0d;
      font-size: 15px;
      font-family: 'Istock web';
      font-weight: 400;
    }
    img {
      width: 100%;
      height: auto;
      margin-bottom: 8%;
    }
    .welcome-step-content {
      max-width: 90%;
      margin: 0 auto;
      strong {
        font-family: 'Montserrat';
        font-weight: 700;
      }
    }
    .btn-login {
      width: 65%;
      margin-top: 5%;
      font-family: 'Istock web';
      font-weight: 700;
      font-size: 15px;
      --border-radius: 3px;
    }
    .btn-link {
      margin-top: 4%;
      display: block;
      text-decoration: none;
      font-size: 15px;
      font-family: 'Istock web';
      font-weight: 700;
    }
  }
  ion-slides {
    height: 100vh;
    background-color: white;
  }
}