.login-page {
  --background: linear-gradient(rgba(255, 67, 81,.8), rgba(255, 67, 81,.8)),
    url('../../../../assets/images/login-bg.jpg') 0 0/100% 100% no-repeat;
  ion-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  .login-form-container {
    max-width: 90%;
    margin: 0 auto;
  }

  .tag-header-text {
    font-size: 20px;
    color: #fff;
  }
}

