<ion-content class="login-page" padding>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <span class="tag-header-text">GROWPRO</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="login-form-container">
            <div>
              <h1 class="title-welcome">{{ 'login.text.welcome_back' | translate }}</h1>
            </div>
            <ion-item class="input-normal">
              <ion-input
                name="email"
                type="email"
                placeholder="your@email.com"
                ngModel
                required
              ></ion-input>
            </ion-item>
            <ion-item class="input-normal">
              <ion-input
                name="password"
                type="password"
                placeholder="Password"
                ngModel
                required
              ></ion-input>
            </ion-item>
          </div>
          <div class="ion-text-center">
            <ion-button
              size="large"
              type="submit"
              [disabled]="form.invalid"
              size="default"
              class="btn-small"
              >{{ 'login.buttons.signin' | translate }}
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="ion-text-center footer-welcome">
            <p>
              {{ 'login.text.have_account' | translate }} <a routerLink="/register">{{ 'login.text.signup' | translate }}</a>
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
