/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Custom styles */
@import "./theme/fonts.scss";

.title-welcome {
  font-size: 40px;
  font-family: 'Montserrat';
  font-weight: 700;
  color: #fff;
}

.input-normal {
  margin-bottom: 20px;
  --border-radius: 4px;
  ion-input {
    height: 56px;
  }
}

.btn-small {
  font-family: 'Istock Web';
  font-weight: 700;
  font-size: 15px;
  width: 35%;
  --border-radius: 3px;
  --background: #fff;
  --color: #ff4351;
}

.footer-welcome {
  font-size: 14px;
  color: #fff;
  a {
    color: #fff;
    text-decoration: none
  }
  ion-button {
    width: 40%;
    height: 48px;
    --border-radius: 4px;
  }
}

.toolbar-header {
  --background: #ff5766;
  ion-buttons {
    width: 100%;
    justify-content: space-between;
    ion-button ion-text {
      margin-left: 7px;
    }
  }
  ion-icon, ion-text {
    color: #fff;
  }
}

.menu-header {
  ion-item {
    --border-color: var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0))));
    font-family: 'Montserrat';
    color: #362c2c;
  }
  .menu-header-subitem {
    margin-left: 20px;
  }
  .menu-title {
    font-size: 17px;
  }
  .menu-subtitle {
    font-size: 16px;;
  }
}

.basic-warning {
  background-color: #ffda5c;
  padding: 20px 15px 15px 15px;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Istock web';
  font-size: 16px;
  color: #280b0d;
  strong {
    font-family: 'Montserrat';
  }
  ion-button {
    font-size: 14px;
    text-transform: lowercase;
    text-transform: capitalize;
  }
}

.page {
  margin-top: 60px;
  padding: 20px;
}

.event-item {
  margin-bottom: 10px;
}
.event-list {

  img {
    border-radius: 4px;
    margin-right: 10px;
  }
  span {
    font-family: 'Montserrat';
    display: block;
    margin-bottom: 7px;
  }
  ion-item {
    --border-width: 0px !important;
  }

  ion-label {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .event-date-tag {
    color: #ff4351;
    font-size: 12px;
    font-weight: 700;
  }
  .event-name-tag {
    color: #362c2c;
    font-size: 17px;
    font-weight: 700;
  }
  .event-place-tag {
    color: #280b0d;
    font-size: 14px;
    font-weight: 400;
  }
}